
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    margin: 1rem;
}

.header {
    text-align: center;
    margin: 4rem 0;
}

.header-title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.main-content {
    overflow: hidden;
}


@media (min-width: 600px) {
    .main {
        width: 1200px;
        margin-left: 3rem;
    }

    .questions-block, .points {
        width: 50%;
        float: left;
    }
    .points {
        padding-left: 10rem;
    }    
}

.questions-block {
    border-right: 1px solid gray;
    margin-bottom: 1rem;
}

.main-questions {
    margin-bottom: 2rem;
}

.form-quiz h2 {
    font-size: 2rem;
}

.form-quiz input {
  font-size: 2rem;
  margin: 8px;
}

.hidden {
    display: none;
}

.send-answer {
    margin-top: 2rem;
}

.send-answer h3 {
    margin-bottom: 1rem;
}

.points-title {
    font-size: 2rem;
}

.points-table {
    margin-top: 2rem;
    width: 50%;
}

.points-table td {
    font-size: 20px;
}

button {
    padding: 1rem;
    font-size: 1rem;
    background-color: green;
    color: #fff;
}


button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.results {
    margin-top: 3rem;
}

.results h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.results-list {
    list-style: none;
}

.results-list li {
    padding: 0.5rem;
    font-size: 20px;
}

.message {
    margin-top: 1rem;
    font-size: 2rem;
    color:#292222;
}

.register-username-form label {
    font-size: 1.6rem;
    padding-right: 10px;
}

.register-user-button {
    display: block;
    margin: 20px 0;
}

.register-username-form {
    display: none;
}


.register-username-form.visible {
    display: block;
}

.counter {
    font-size: 20px;
    margin: 1rem 0;
}